In [2]:
from sqlthis import DS
import pandas as pd
from pandasql import PandaSQL

## Load data

In [2]:
xbtusd_trades = pd.read_csv('kraken_xbtusd_trades.csv')

In [47]:
pysqldf = PandaSQL(persist=True)
pysqldf("SELECT * FROM xbtusd_trades LIMIT 10", globals())

    price        volume    unixtime buysell marketlimit    id
0  7910.0  3.659740e-03  1569771156       s           m  None
1  7910.0  5.000000e-01  1569771156       s           m  None
2  7910.0  5.000000e-02  1569771156       s           m  None
3  7909.1  1.446340e+00  1569771156       s           m  None
4  7909.1  5.000000e-01  1569771156       s           m  None
5  7909.1  3.791002e-01  1569771156       s           m  None
6  7909.1  9.076600e-04  1569771156       s           m  None
7  7909.1  2.170000e-06  1569771156       s           m  None
8  7909.1  1.000000e-08  1569771156       s           m  None
9  7909.1  2.500000e-01  1569771156       s           m  None

In [ ]:
ds = DS()

ds.import_csv('kraken_xbtusd_trades.csv', 'kraken_xbtusd_trades',
    schema = {
        'price': float,
        'volume': float,
        'unixtime': int
    }
)

# Benchmarks

Size of the CSV file used is 809M.

## SELECT

In [36]:
import timeit

**pandas.DataFrame**

**sqlthis.DS**

In [41]:
timeit.timeit("ds.select('select * from kraken_xbtusd_trades limit 10')", number=10, globals=globals())

0.006768370047211647

**pandasql.sqldf**

In [48]:
timeit.timeit('pysqldf("SELECT * FROM xbtusd_trades LIMIT 10", globals())', number=10, globals=globals())

0.026426297961734235

## Memory footprint

In [34]:
import sys

**pandas.DataFrame**

In [35]:
sys.getsizeof(xbtusd_trades)/1024**2

3471.22123336792

**sqlthis.DS**

In [50]:
ds.dbsize()/1024**2

849.01953125

**pandasql.sqldf**

Not sure how to measure this properly ATM. But in principle, it uses in memory sqlite just like **sqlthis.DS**. However, additionally Pandas DataFrames need to be carried arround.